<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Salao Rocha | ERROR</title>
<link href="assets/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="assets/web/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="assets/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Salao Rocha" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,800,700' rel='stylesheet' type='text/css'>

</head>
<body>
<!---->
<div class="header">
	 <div class="container">
		 <div class="logo">
			 <a href="index.scala.html"><img src="assets/web/images/logo.png" alt=""/></a>
		 </div>
		 <div class="top-menu">
				<span class="menu"> </span>
				<ul>

				 </ul>
		 </div>
		 <div class="clearfix"></div>
			 <!--script-nav-->
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>		  
	 </div>
</div>
<!---->
<div class="404-page">
	 <div class="error-info">
		 <div class="container">
		 </div>
	 </div>
	 <div class="container">
		 <div class="error-head">
			 <h3><label>OOPS...!</label>This page is not found.</h3>
			 <h1>4<span>0</span>4</h1>
			 <h2>Error</h2>
			 <a href="index.scala.html">Go Back</a>
		 </div>
	 </div>
</div>
<!----->
<div class="footer">
	 <div class="container">
		  <div class="social-media">			
			 <a href="#"><i class="inst"></i></a>
			 <a href="#"><i class="dribb"></i></a>
			 <a href="#"><i class="twit"></i></a>			 
		  </div>
		  <div class="copy-right">
			<p>&#169;Salao Rocha - Criado por <a href="http://caiomarinho.com/"> Caio Marinho</a></p>
		  </div>
	 </div>
</div>