@()
<!DOCTYPE html>
<html>
<head>
<title>Salão Rocha</title>
<link href="/assets/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="/assets/web/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/assets/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Salão Rocha" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
    <style>
        .clearfix{
            margin-left: auto;
            margin-right: auto;
        }


    </style>
</head>
<body>
<!---->
<div class="header">
	 <div class="container">
		 <!-- Logo tipo -->
         <div class="logo">
             <img src="assets/web/images/logtt.png" alt=""/>
         </div>

		 <div class="top-menu">
				<span class="menu"> </span>
				<ul>
					<!-- <li class="active"><a href="index.html">HOME</a></li>
					 <li><a href="about.html">ABOUT US</a></li>
					 <li><a href="gallery.html">GALLERY</a></li>					 
					 <li><a href="404.html">BLOG</a></li>					 
					 <li class="top-contact"><a href="contact.html">CONTACT</a></li> -->
				 </ul>
		 </div>
		 <div class="clearfix">
         </div>
			 <!--script-nav
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>		-->
	 </div>
</div>
<!--header-->
<script src="/assets/web/js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true
      });
    });
  </script>
<div class="slider">
	 <div class="container">
		   <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				 <li>	          
					 <h3>Cansado de procurar por um salão de beleza com qualidade?</h3>
				 </li>
				 <li>	          
					 <h3>Nós fazemos o melhor serviço no segmento.</h3>
				 </li>
				 <li>	          
					 <h3>Agende um serviço de beleza hoje mesmo!</h3>
				 </li>
			  </ul>
		  </div>
	  </div>
</div>
<!----->
<div class="container">
	  <div class="signin-section">	 
		 <h3>Escolha uma opção abaixo para <span>agendar</span> sua sessão:</h3>
		 <a class="signin" href="/registrar/a">REGISTRAR</a>
		 <a class="signup" href="/login">ENTRAR</a>
	 </div>
</div>
<!----->
<div class="app">
	 <div class="container">
		 <div class="app-grid">
			 <div class="col-md-4 app-info">
				 <h3>Acesse também pelo Celular</h3>
				 <p>Nosso site é totalmente adaptável, e com design responsível para ser acessado via celular. </p>
				 <!--<a href="#"><img src="images/play.png" alt=""/></a>-->
			 </div>
			 <div class="col-md-8 app-pic">
				 <img src="assets/web/images/iphones.png" alt=""/>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!----->
<!--<div class="download">
	 <div class="container">
		 <h3>This website is absolutely awesome, download it for free!</h3>
		 <a href="#">GET NOW</a>
	 </div>
</div>-->
<!----->
<div class="footer">
	 <div class="container">
		  <div class="fooicon">
			 <!--<a href="#"><i class="inst"></i></a>
			 <a href="#"><i class="dribb"></i></a>
			 <a href="#"><i class="twit"></i></a> -->
			  <a href="#"><img src="assets/web/images/iface.png" class="lfoo"/></a>
			  <a href="#"><img src="assets/web/images/gplus.png" class="lfoo"/></a>
		  </div>
		  <div class="copy-right">
			<p>&#169;Salão Rocha</p>
		  </div>
		  <div class="clearfix"></div>
	 </div>
</div>